* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Arvo';
  font-size: 16px;
}
a {text-decoration:none;}

#container {
  margin: auto;
}
#heading{
  height: 4em;
  border-bottom: 1px solid #dadfd9;
}
#logo {
  font-family: 'Arvo', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3em;
  text-align: left;
  padding: 15px;
  font-size: 1.9em;
  letter-spacing: 3px;
  display: inline-block;
  float: left;
}
.mobnav {
  display: inline;
  font-size: 2em;
  float:right;
  padding: 15px;
  color: black;
  font-weight: bolder;
}
.responsive-menu {
  display: none;
  clear: left;
  width: 100%;
  padding-right: 20px;
  text-align: right;
  line-height: 1.3em;
  padding-top: 20px;
}
.expand {
  display: block; 
}
nav {
  display:none;
}
#pagetitle{
  display:none;
}
#content {
  float: left;
  height: auto;
  padding: 2%;
  overflow: auto;
}
.homeslideshow img {
  max-width: 100%;
  max-height: 100%;
  float: left;
}
.hidden {
  display:none;

/*works page*/
}
.grid {
  float: left;  
  padding: 1%;
  width: 160px;
  height: 160px;
  overflow: hidden;
 }
 .grid img {
  width: 98%;
  vertical-align: middle;
 }

 /*info page*/
#biog p{
  float: left;
  text-align: left;
  padding-bottom: 40px;
  border-bottom: 1px solid #dadfd9;
 }
#sidebar {
  display: inline-block;
  padding: 20px;
}
#sidebar img{
  width: 120px;
}

a.prev, a.next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #dadfd9;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.prev:hover, a.next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.prev {
  border-radius: 0 2px 2px 0;
}

a.next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

#slideshow {
  height: auto;
  margin: 0;
}
.viewslideshow img {
  max-width: 100%;
  float: left;

}

footer {
    height: 300px;
}


@media only screen and (min-width: 738px) {
  #container {
    max-width: 1320px;
    height: 900px;
  }
  #content {
    width: 72%;
    max-height: 900px;
  }
  #pagetitle {
    display: inline;
    float: left;
    line-height: 5em;
    vertical-align: text-bottom;
    font-size: 1em;
  }
  .mobnav {
    display:none;
  }
  .responsive-menu {
   display: none;
}
 .leftcolumn{
    clear: left;
    float: left;
    min-width: 200px;
    padding: 20px;
  }
  #heading {
    margin-top: 50px;
    overflow: hidden;
  }
  nav {
    display: inline;
    text-align: right;
    line-height: 2em;
    color: gray;
  }


/*info page*/
  #biog {
    border-left: 1px solid #dadfd9;
    height: 300px;
    width: 60%;
    float: left;
    padding: 20px;
    text-align: left;
  }
  #biog p{
    border:none;
  }
  #sidebar {
    border-left: 1px solid #dadfd9;
    height: 300px;
    width: 150px;
    float: right;
  }
}

@media only screen and (min-width: 926px) {
  .grid {
    width: 33%;
    min-height: 220px;
  }
}

@media only screen and (min-width: 1249px) {
  .grid {
    width: 25%;
  }

}
